body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #EEEEEE;
}

img {
  width: 100px;
}

h1 {
  color: #222831;
  font-size: 42px;
}

h2 {
  color: #393E46;
  font-size: 26px;
}

a {
  color: #00ADB5;
  transition: color 0.3s ease;
}
a:hover {
  color: #00ADB5;
  text-decoration: none;
}
